<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垃圾分类小贴士</title>
    <link rel="stylesheet" href="/static/css/tips.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div id="header">
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="/index/">主页</a></li>
                <li><a href="/index_text/">直接检索</a></li>
                <li><a href="/garbage_tips/">垃圾分类小贴士</a></li>
                <li><a href="">社会责任</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                {% if request.session.username %}
                    <li><a href="/sign_out/">欢迎你：{{ request.session.username }}！</a></li>
                {% else %}
                    <li><a href="/sign_in/">登录</a></li>
                    <li><a href="/sign_up/">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="tips">
    <div class="box">
        <div class="recycled">
            <h2>可循环物</h2>
            <div class="throw">
                <h3>投放须知：</h3>
                <p> · 轻投轻放；</p>
                <p> · 废纸尽量平整；</p>
                <p> · 清洁干燥，薄面污染；</p>
                <p> · 立体包装物请清空内容物，清洁后压扁投放；</p>
                <p> · 有尖锐边角的，应包裹后投放。</p>
            </div>
            <div class="example">
                <h3>例如:</h3>
                <p> · 纸类、塑料、金属、玻璃、木料、织物、电子废弃物</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="kitchen">
            <h2>厨余垃圾</h2>
            <div class="throw">
                <h3>投放须知：</h3>
                <p> · 液体食物垃圾如牛奶等，应直接倒入下水道口；</p>
                <p> · 有包装的厨余垃圾应与包装袋分开投放对应的垃圾容器内；</p>
            </div>
            <div class="example">
                <h3>例如:</h3>
                <p> · 鸡蛋壳、核桃、骨头、玉米、瓜子壳、香蕉皮、果核等</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="other">
            <h2>其他垃圾</h2>
            <div class="throw">
                <h3>投放须知：</h3>
                <p> · 尽量沥干水分；</p>
                <p> · 难以辨别的垃圾应投入其他垃圾中；</p>
            </div>
            <div class="example">
                <h3>例如:</h3>
                <p> · 面膜、塑料袋、纸巾、一次性筷子、吸管、包装袋等</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="harm">
            <h2>有害垃圾</h2>
            <div class="throw">
                <h3>投放须知：</h3>
                <p> · 轻投轻放；</p>
                <p> · 易破损的请连带包装或包裹后轻放；</p>
                <p> · 如易挥发，请密封后投放；</p>
            </div>
            <div class="example">
                <h3>例如:</h3>
                <p> · 电池、口服液瓶子、药瓶、灯泡、照片、胶囊药片底板、油漆桶等</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>