<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垃圾分类</title>

    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/text_main_body.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">

    <link href="/static/css/jquery-filestyle.min.css" rel="stylesheet">
</head>
<body>
<div id="header">
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="/index/">主页</a></li>
                <li><a href="/index_text/">直接检索</a></li>
                <li><a href="/garbage_tips/">垃圾分类小贴士</a></li>
                <li><a href="">社会责任</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                {% if request.session.username %}
                    <li><a href="/sign_out/">欢迎你：{{ request.session.username }}！</a></li>
                {% else %}
                    <li><a href="/sign_in/">登录</a></li>
                    <li><a href="/sign_up/">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="text_main_body">
    <div class="container">
        <div class="top">
            <div class="top_img">
                <div>
                    <a href="">
                        <img src="/static/images/front/top_img2.png" alt="">
                    </a>
                </div>
            </div>
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <section>
                                <form class="form-inline" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="text" class="jfilestyle" data-inputSize="400px" name="good">
                                    <button type="submit" name="submit_img">确定</button>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
        </div>
        <div class="bottom">
            <div class="category">
                <div class="box">
                    <div>
                        <a href="">
                            <img src="/static/images/front/recycled_content.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <a href="">
                            <img src="/static/images/front/kitchen_garbage.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <a href="">
                            <img src="/static/images/front/other_garbage.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <a href="">
                            <img src="/static/images/front/hazardous_waste.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-filestyle.min.js" charset="utf-8"></script>
</body>
</html>