<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可循环物</title>
    <link rel="stylesheet" href="/static/css/recycled_content.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div id="header">
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="/index/">主页</a></li>
                <li><a href="">垃圾分类小贴士</a></li>
                <li><a href="">社会责任</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="recycled_content">
    <div class="good_name">
        <h2>{{ good.goods_category.name }}：</h2>
    </div>
    <div class="top">
        <div class="left">
            <div>
                <a href="">
                    <img src="/static/images/front/recycled_content.png" alt="">
                </a>
            </div>
        </div>
        <div class="right">
            <img src="/media/{{ good.image }}">
        </div>
    </div>
    <div class="bottom">
        <div class="box">
            <div class="throw">
                <h3>投放须知：</h3>
                <p> · 轻投轻放；</p>
                <p> · 废纸尽量平整；</p>
                <p> · 清洁干燥，薄面污染；</p>
                <p> · 立体包装物请清空内容物，清洁后压扁投放；</p>
                <p> · 有尖锐边角的，应包裹后投放。</p>
            </div>
            <div class="example">
                <h3>例如:</h3>
                <p> · 纸类、塑料、金属、玻璃、木料、织物、电子废弃物</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>