<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登出</title>
	<link rel="stylesheet" href="/static/css/sign_in.css">
	<style>
		a.active {
			padding: 10px;
			font-weight: 700;
		    color: #ea6f5a;
		    border-bottom: 2px solid #ea6f5a;
		}

		a.sign-up {
			padding: 10px;
			font-weight: 700;
		    color: #969696;
		}
	</style>
</head>
<body>
	<div class="main">
		<h4 class="title">
			<a href="" class="active">登出</a>
		</h4>
		<div class="sign-container">
            <br>
            <h4>确定登出账户么？</h4>
			<form action="" id="new_session" method="post">
                {% csrf_token %}
				<button class="sign-in-btn" id="sign_in_form_submit">
					<span>登出</span>
				</button>
			</form>
		</div>
		
	</div>
	
</body>
</html>